@import "tailwindcss";

body {
  background-color: #F9F8F6;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 600;
}

p {
    color: #75716B;
    font-size: 16px;
    font-weight: 500px;
}

h4 {
    font-size: 24px;
    font-weight: 500px;
}
#search-al{
  font-size: 20px;
  font-weight: 500;
  color: black;
}
#search-al:hover{
  padding: 10px;
  background-color: red;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
